@import url('./fonts.scss');

*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    color: #0088CC !important;
}

img {
    width: 100px;
    height: 100px;
}

.home-page{
    display: flex;
    flex-direction: column;
}

#sign_up_image_container{
    background-image: url('../assets/signUp_image.jpg') !important;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -240px;
}

#home_main_image_container{
    background-image: url('../assets/main_image.jpg') !important;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -240px;
}